*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    color: goldenrod;
}
.head{
    min-height: 109vh;
    width: 100%;
    background-image: url(bckground.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.logo{
    width: 700px;
    height: 400px;
}
.header{
    font-size: 2rem;
    text-align: center;
}
h1{
    color: rgb(224, 175, 50);
}
big{
    display: flex;
    flex-direction: row;
}
big:before,big:after{
    content:"";
    flex: 1 1;
    border: 15px solid goldenrod;
    margin: auto;
    opacity: .9;
}
.head ul{
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
}

.head li{
    padding: 12px 20px;
    border: 1px solid goldenrod;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    transition-property: color;
    transition: 1s;
}
.head ul li:hover{
    color: black;
    background-color: goldenrod;
    border: 1px solid goldenrod;
}
a{
    text-decoration: none;
}
h6{
    color: red;
    font-size: 20px;
}





